.env
.git
.github
.lerd.yaml
vendor
node_modules
public/build
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
!storage/logs/.gitignore
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
tests
.php-version
.node-version
Dockerfile
.dockerignore